# MAPFRE's Agent KIT
#mapfre_agentkit @ git+https://${GIT_TOKEN}@github.com/mapfre-tech/esp-ateneaes-mapfre-agent-kit@develop
mapfre_agentkit @ git+https://${GIT_TOKEN}@github.com/mapfre-tech/esp-ateneaes-mapfre-agent-kit@main
